
.vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
}

.vertical-menu button {
  padding: 10px 20px;
  background-color: transparent; 
  border: none; 
  border-radius: 0; 
  text-align: left;
  width: 100%; 
  font-size: 16px; 
  font-weight: bold; 
  color: #333; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.vertical-menu button:hover {
  background-color: #f0f0f0; 
}
